<nav class="#00796b teal darken-2 z-depth-3">
  <div class="nav-wraper">
    <div class="row center-align truncate">
      <a href="#" class="sidenav-trigger show-on-large" data-target="menu-side"><i class="material-icons">menu</i></a>
      <a href="#!" class="center"><h5><b>Cálculo do Preço de Impressão</b></h5></a>

    </div>

  </div>
</nav>

<ul class="sidenav" id="menu-side">
        <li>
          <div class="user-view">
            <div class="background">
              <img src="img/s1.jpg" alt="">
            </div>
            <a href="#">
              <img src="img/marvin.jpg" alt="" class="circle">
            </a>
            <a href="#">
              <span class="name white-text">Maicon Francisco</span>
              <span class="email white-text">maicon.fr95@gmail.com</span>
            </a>
          </div>
        </li>

        <li>
          <a class="waves-effect" href="#!"><i class="material-icons">cloud</i>
            Primeiro elemento
          </a>
        </li>
        <li>
          <div class="divider">
          </div>
        </li>
        <li>
          <a href="#">
            <i class="material-icons">cloud</i>
            Segundo elemento
          </a>
        </li>
</ul>
