<div class="center margem_padrao">

<!--PESO-->
<form class="" action="#">

<div class="row">
  <div class="input-field col s12">
    <input id="peso" type="number" class="validate">
    <label class="" for="peso">Peso da peça (g)</label>
  </div>
</div>
<!--TEMPO-->
<div class="row">
  <div class="input-field col s12">
    <input id="tempo" type="number" class="validate">
    <label class="" for="tempo">Tempo de Impressão (h)</label>
  </div>
</div>

<div class="row">
  <!--BOTÃO-->
  <a id="botao" class="waves-effect waves-light btn" onclick="calculo()">Calcular</a>
</div>

</form>

<div class="row">
  <div class="col s4">
  </div>
  <div class="col s4 flow-text">
    <div class="card teal lighten-2 ">
      <div class="card-content white-text">
        <!--RESULTADO-->
        <span id="resultado" class="resultado">R$ 0.00</span>
      </div>
    </div>

  </div>

</div>


</div>
